<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{common :: meta_header('在庫一覧',~{::link},~{::script})}">
    <title th:text="${title}+' | MTLibrary'"></title>
    <link rel="stylesheet" th:href="@{/css/stock/index.css}" />
    <script type="text/javascript" th:src="@{/js/stock/index.js}"></script>
</head>
<body>
    <div class="contents">
        <div th:replace="~{common :: main_sidebar}"></div>
        <div class="main_contents">
            <div th:replace="~{common :: header}"></div>
            <div class="inner_contens">
                <div class="page_title">在庫一覧</div>
                <div class="add_btn">
                    <a th:href="@{/stock/add}">
                        <span><img src="../images/icons/add.png" alt="add"/></span>
                        <span>在庫登録</span>
                    </a>
                </div>
                <table id="stock_table">
                    <thead>
                        <tr>
                            <th>在庫管理番号</th>
                            <th>書籍名</th>
                            <th>在庫ステータス</th>
                            <th>貸出情報</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="stock : ${stockList}" th:object="${stock}">
                            <td>
                                <div class="stock_item_menu">
                                    <div><a th:href="@{/stock/{id}/edit(id=*{id})}"><img src="../images/icons/edit.png" alt="edit"/></a></div>
                                    <div><a href="#" class="" onClick="openDeleteModal()"><img src="../images/icons/trash.png" alt="trash"/></a></div>
                                    <div><a th:href="@{/stock/{id}(id=*{id})}" th:text="*{id}"></a></div>
                                </div>
                            </td>
                            <td th:text="*{bookMst.title}"></td>
                            <td th:text="${stock.status == 0 && (#lists.isEmpty(stock.rentalManages) || stock.rentalManages[0].status != 1) ? '利用可' : '利用不可'}"></td>
                            <td>
                                <div th:if="${not #lists.isEmpty(stock.rentalManages)}">
                                    <div th:text="${'利用者：' + stock.rentalManages[0].account.name}"></div>
                                    <div th:text="${'返却予定日：' + #dates.format(stock.rentalManages[0].expectedReturnOn, ('yyyy/MM/dd'))}"></div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div th:replace="~{common :: footer}"></div>
</body>
