<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{common :: meta_header('書籍編集',~{::link},~{::script})}">
    <title th:text="${title}+' | MTLibrary'"></title>
    <link rel="stylesheet" th:href="@{/css/book/add.css}" />
    <script type="text/javascript" th:src="@{/js/book/add.js}"></script>
</head>

<body>
    <div class="contents">
        <div th:replace="~{common :: main_sidebar}"></div>
        <div class="main_contents">
            <div th:replace="~{common :: header}"></div>
            <div class="inner_contens">
                <div class="page_title">書籍編集</div>
                <div class="page_contents">
                    <form id="book_register_form" th:object="${bookMstDto}" th:action="@{/book/{id}/edit(id=*{id})}"
                        method="post">
                        <div class="mb30 flexarea">
                            <span class="text-red">＊は必須項目です</span>
                            <span>
                                <a th:href="@{/book/index}" class="link">← 一覧へ戻る</a>
                            </span>
                        </div>
                        <div class="mb30">
                            <label for="title">書籍名<span class="text-red asterisk">＊</span></label>
                            <input class="form_input" type="text" id="title" name="title" placeholder="書籍名を入力"
                                th:value="*{title}" />
                            <div class="error_msg" th:if="${errTitle}">
                              <p th:text="${errTitle}" style="color: red"></p>
                            </div>
                        </div>
                        <div class="mb30">
                            <label for="isbn">ISBN<span class="text-red asterisk">＊</span></label>
                            <input class="form_input" type="text" id="isbn" name="isbn" placeholder="ISBNを入力"
                                th:value="*{isbn}" />
                            <div class="error_msg" th:if="${errISBN}">
                              <p th:text="${errISBN}" style="color: red"></p>
                            </div>
                        </div>
                        <div class="btn_block">
                            <input id="submit_btn" type="submit" value="変更">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="~{common :: footer}"></div>
</body>