<!DOCTYPE html>
<html lang="ja">
    <head>
        <title>ログイン | MT書籍管理</title>
        <link rel="stylesheet" href="/mt_library/css/common.css" />
        <link rel="stylesheet" href="/mt_library/css/login.css" />
    </head>
    <body>
        <div class="contents">
            <div th:replace="~{common :: common_sidebar}"></div>
            <div class="main_contents">
                <div class="header"></div>
                <div class="inner_contens">
                    <h1>ログイン</h1>
                    <div th:if="${param.error}">
                        <div class="error_msg">メールアドレスまたはパスワードが違います。</div>
                    </div>
                    <div th:if="${param.logout}">
                        <div class="error_msg">ログアウト済みです。</div>
                    </div>
                    <form id="login_form" th:action="@{/login}" method="post">
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                        <table>
                            <caption></caption>
                            <tbody>
                                <tr>
                                    <th scope="col">メールアドレス:</th>
                                    <td><input type="text" name="email" required/></td>
                                </tr>
                                <tr>
                                    <th scope="col">パスワード: </th>
                                    <td><input type="password" name="password" required/></td>
                                </tr>
                            </tbody>
                        </table>
                        <button type="submit">ログイン</button>
                    </form>
                    <div>
                        <div>アカウントがありませんか？ </div>
                        <div><a th:href="@{/register}">アカウント作成</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div th:replace="~{common :: footer}"></div>
    </body>
</html>
