.add_btn {
    display: flex;
    justify-content: end;
    margin-bottom: 30px;
    text-align: right;
}
.add_btn a {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #545454;
    padding: 10px 20px;
    text-decoration: none;
    background-color: #9CF2D3;
}

.add_btn a img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    position: relative;
    top: 3px;
}
#manage_table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

#manage_table .manage_item_menu {
    display: flex;
    align-items: center;
}

#manage_table .manage_item_menu div:nth-of-type(1) {
    margin-right: 10px;
}

#manage_table tr th,
#manage_table tr td {
    border: 1px solid #B9B9B9;
    padding: 10px;
}

#manage_table tr th {
    background-color: #E1E1E2;
}

#manage_table tr th:nth-of-type(1) {
    width: 140px;
}
#manage_table tr th:nth-of-type(2) {
    min-width: 250px;
}
#manage_table tr th:nth-of-type(3) {
    width: 130px;
}
#manage_table tr th:nth-of-type(4) {
    width: 130px;
}