.month_change {
    width: 300px;
    display: flex;
    justify-content: space-between;
}

.table_wrapper {
    width: 100%;
    max-width: 1200px;
    overflow: scroll;
}
#calendar_table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    overflow: scroll;
}

#calendar_table tr th,
#calendar_table tr td {
    border: 1px solid #B9B9B9;
    padding: 10px;
}

#calendar_table tr th {
    background-color: #E1E1E2;
    width: 100%;
}

#calendar_table tr th.header_days {
    text-align: left;
}

#calendar_table tr.days th {
    padding: 5px;
    font-size: 14px;
}